# Global owners
*               @ElBe-Plaq @MasterOktagon

# .github
/.github/       @ElBe-Plaq

# Docs
/Docs/          @ElBe-Plaq

# Main normal files
/Main/*.py      @ElBe-Plaq @MasterOktagon

# Main underscored files
/Main/_*.py     @ElBe-Plaq

# Modules
/Modules/       @ElBe-Plaq

# Tools
/Tools/         @ElBe-Plaq

# Readme
README.md       @ElBe-Plaq