# Global owner
*                            @ElBe-Plaq

# Errors and tests
ilanguage/Main/_errors.py    @Ranastra
ilanguage/Tests/*			 @Ranastra

# Parser and AST
ilanguage/Main/parser.py 	@MasterOktagon
ilanguage/Main/_ast.py 		@MasterOktagon