autopep8==2.0.2
bandit==1.7.5
black==23.3.0
build==0.10.0
pipreqs==0.4.11
pylint_runner==0.6.0
pylint-secure-coding-standard==1.4.1
pytest==7.2.2
pytest-cov==4.0.0
pytest-picked==0.4.6
pytest-pretty==1.1.1
ruff==0.0.260
twine==4.0.2

-r requirements.txt